@model List<Product>
@{
    ViewData["Title"] = "Dynamic Autocomplete Search";
}
<div id="searchBar">
    <input type="text" id="searchInput" placeholder="Search products..." />
    <div id="searchResults"></div>
</div>
<div id="productAttributes"></div>

@section Scripts {
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/SearchBar.js"></script>
<script src="~/js/productDetails.js"></script>
}
