@model Meal
@{
    ViewData["Title"] = "Dynamic Autocomplete Search";
}
<style>
    #headerText {
        text-transform: none;
    }
</style>

<form method="post">
<container>
    <div class="row">
        <div class="col-2" id="searchBar">
            <input type="text" id="searchInput" placeholder="Search products..." />
            <div id="searchResults"></div>
        </div>

        <div class="col-2">
                <input asp-for="MealName" id="mealName" type="text" style="width:150px" placeholder="Meal name..." />
                <span asp-validation-for="MealName" class="text-danger"></span>
        </div>
        <div class="col-8">
            <h1 id="headerText"></h1>
        </div>
    </div>
</container>

<div id="productAttributes"></div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    kcal
                </th>
                <th>
                    protein
                </th>
                <th>
                    carbs
                </th>
                <th>
                    fat
                </th>
                <th>
                    grams
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="ProductTable">

        </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th><span id="TotalKcal">0</span></th>
            <th><span id="TotalProtein">0</span></th>
            <th><span id="TotalCarbs">0</span></th>
            <th><span id="TotalFat">0</span></th>
            <th><span id="TotalGrams">0</span></th>
                <th>
                </th>
        </tr>
    </tfoot>
    </table>

    <button id="submitButton" type="submit" class="btn btn-primary" style="width:150px">Confirm</button>
    <a asp-controller="Meal" asp-action="Index" class="btn btn-primary">Back to the list</a>
    <a asp-controller="Meal" id="adas"asp-action="DeleteProduct" class="icon - link">
        <i class="bi bi - trash3 - fill icon - size"></i>
    </a>
    </form>
   
@section Scripts {
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Meal/SearchBar.js"></script>
<script type="module" src="~/js/Meal/UpdateMealSummaryAndDeleteProduct.js"></script>
<script type="module"  src="~/js/Meal/DisplaySessionMeals.js"></script>
<script type="module"  src="~/js/Meal/productDetails.js"></script>
<script src="~/js/Meal/MealNameHeaderText.js"></script>
<script src="~/js/Meal/PreventDefaultEnterBehaviour.js"></script>


}
