@model List<AppUser>

<h1>Category</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            User Id
        </th>
        <th>
            Name
        </th>
        <th>
            Last Name
        </th>
    </tr>
    </thead>
    
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.UserId))
        {
        <tr>
            <td>
                @obj.UserId
            </td>
            <td>
                    @obj.Name
            </td>
            <td>
                    @obj.LastName
            </td>
        </tr>
        }
    </tbody>
</table>